numpy==1.20.2
pandas==1.4.2
scipy==1.6.2
scikit-learn==0.24.2
flask==1.1.4
flask_restful==0.3.9
flask-cors
uwsgi==2.0.19.1
loguru==0.5.3
python-dotenv==0.18.0
joblib==1.0.1
pickleshare==0.7.5
elasticsearch==7.13.1
numpyencoder==0.3.0
itsdangerous==1.1.0
markupsafe==1.1.1
